<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

	<!-- attention, le 3.1 correspond a la version du 'project facet. Pourqoi 
		ne pas ce passer de ce web.xml ? -->




	<!-- voir control/Brest2016Init.java pour les autres paramètres de configuration -->
	
	<display-name>Brest2016Controler</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
