@CHARSET "UTF-8";

.growl {
    position: fixed;
    top: 10px;
    right: 10px;
    float: right;
    width: 30%;
    z-index: 9999;
}
.growl-item.ng-enter {
    -webkit-animation: bounceIn 0.2s;
    animation: bounceIn 0.1s;
}

.modal-backdrop {
   opacity: 0.1 !important;
}

.modal {
   top: 25% !important;
}

